version: '3'

services:
  remote-to-ssh:
    image: hillliu/autossh
    environment:
      - SSH_HOSTUSER=autossh
      - SSH_HOSTNAME=your-ssh-server
      - SSH_HOSTPORT=22
      - SSH_TUNNEL_FROM_HOST=your-target-server
      - SSH_TUNNEL_FROM_PORT=22
      - SSH_TUNNEL_TO_PORT=2222
    restart: always
    volumes:
      - ./autossh_id_ed25519:/id_ed25519
